.container {
    display: flex;

    margin: 50px auto auto auto;
    max-width: 40%;
}

button {
    padding: 15px;
    height: 80px;
    width: 80px;
    background-color: blue;

    color: aliceblue;

    margin: 0;
    border: 1px solid black;
}

input {
    height: 74px;
    width: 100px;

    font-size: 30px;

    margin-right: 30px;
}

p {
    text-align: center;
    font-size: 3em;
}